<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EV - Charging Station Finder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginEV</display-name>
    <servlet-name>AdminLoginEV</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.AdminLoginEV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginEV</servlet-name>
    <url-pattern>/AdminLoginEV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSRegisterEV</display-name>
    <servlet-name>CSRegisterEV</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.CSRegisterEV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSRegisterEV</servlet-name>
    <url-pattern>/CSRegisterEV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterEV</display-name>
    <servlet-name>UserRegisterEV</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.UserRegisterEV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterEV</servlet-name>
    <url-pattern>/UserRegisterEV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSLoginEV</display-name>
    <servlet-name>CSLoginEV</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.CSLoginEV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSLoginEV</servlet-name>
    <url-pattern>/CSLoginEV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginEV</display-name>
    <servlet-name>UserLoginEV</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.UserLoginEV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginEV</servlet-name>
    <url-pattern>/UserLoginEV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSApproved</display-name>
    <servlet-name>CSApproved</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.CSApproved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSApproved</servlet-name>
    <url-pattern>/CSApproved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CSDelete</display-name>
    <servlet-name>CSDelete</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.CSDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CSDelete</servlet-name>
    <url-pattern>/CSDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePower</display-name>
    <servlet-name>UpdatePower</servlet-name>
    <servlet-class>com.rcpit.evchargingstation.UpdatePower</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePower</servlet-name>
    <url-pattern>/UpdatePower</url-pattern>
  </servlet-mapping>
</web-app>